<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Featuring</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>IAAS PLUGINS</h3>
                    <p class="text-muted">build-it plugins for OpenStack, VMware vSphere, VMware vCloud, Amazon Web Services, and more to come.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>CM PLUGINS</h3>
                    <p class="text-muted">Full support for configuration management tools: Puppet, Chef, Ansible, Salt.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>CONTAINERS</h3>
                    <p class="text-muted">Support for container orchestration via Docker plugin and Kubernetes plugin.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>FABRIC</h3>
                    <p class="text-muted">Fabric plugin allows mapping operations to ssh commands or Fabric tasks providing an agent-less method for running operations.</p>
                </div>
            </div>
        </div>
    </div>
</section>
